<!DOCTYPE html>
<html lang="en">
{% load static %}

<!-- HEAD -->
<!-- **** -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>D3 Dashboard</title>

    <!-- Fonts -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'css/jquery-ui.min.css">
    <link href="{% static 'css/d3-tip.css">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

</head>

<!-- BODY -->
<!-- **** -->
<body id="page-top">

    <script>
        scatter_json = {{ scatter_json }}
        pie_json = {{ pie_json }}
        area_json = {{ area_json }}
        bar_json = {{ bar_json }}
        stacked_json = {{ stacked_json }}
    </script>

    <!-- WRAPPER -->
    <!-- ******* -->
    <div id="wrapper">

        <!-- SIDEBAR -->
        <!-- ******* -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dashboard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- END SIDEBAR -->
        <!-- ********** -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- PAGE CONTENT -->
                <!-- ************ -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">COVID-19 Data Dashboard - Mexico 2020</h1>

                    <!-- Content Row -->
                    <div class="row">

                      <!-- Card -->
                      <div class="col-lg-8">
                          <div class="card shadow mb-4 hi">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Cases and deaths of patients with an existing condition. </h6>
                              </div>
                              <div class="card-body">
                                  The number of cases dramatically increase between March and April and then again of December.
                              </div>
                              <svg width="95%" height="480" id="scatter-plot"></svg>
                          </div>
                      </div>

                      <!-- Card -->
                      <div class="col-xl-4 col-lg-4">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Top Conditions</h6>
                              </div>
                              <div class="card-body">
                                  Main pre-conditions.
                                  <div class="chart-pie pt-4 pb-2">
                                      <svg width="95%" height="100%" id="pie-chart"></svg>
                                  </div>

                                  <div class="mt-4 text-center small">
                                      <span class="mr-4 pie-label">
                                          <i class="fas fa-circle" style="color: #457508"></i> NEUMONIA
                                      </span>
                                      <span class="mr-4 pie-label">
                                          <i class="fas fa-circle" style="color: #2B8F9B"></i> HIPERTENSION
                                      </span>
                                      <span class="mr-4 pie-label">
                                          <i class="fas fa-circle" style="color: #9DCFC7"></i> OBESIDAD
                                      </span>
                                      <span class="mr-4 pie-label">
                                          <i class="fas fa-circle" style="color: #1E766D"></i> DIABETES
                                      </span>
                                      <span class="mr-4 pie-label">
                                          <i class="fas fa-circle" style="color: #0D3A35"></i> TABAQUISMO
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                      <!-- Card -->
                      <div class="col-lg-6">
                          <div class="card shadow mb-4 hi">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Total cases by month. </h6>
                              </div>
                              <div class="card-body">
                                  Complete number of cases by month.
                              </div>
                              <svg width="95%" height="480" id="area-chart"></svg>
                          </div>
                      </div>

                      <!-- Card -->
                      <div class="col-lg-6">
                          <div class="card shadow mb-4 hi">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Cases with conditions by state. </h6>
                              </div>
                              <div class="card-body">
                                  Complete number of cases with previous conditions by state.
                              </div>
                              <svg width="95%" height="480" id="stacked-chart"></svg>
                          </div>
                      </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                      <!-- Card -->
                      <div class="col-lg-12">
                          <div class="card shadow mb-4 hi">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Total cases by state. </h6>
                              </div>
                              <div class="card-body">
                                  Complete number of cases by state.
                              </div>
                              <svg width="95%" height="480" id="bar-chart"></svg>
                          </div>
                      </div>

                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

        </div>

    </div>
    <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Dashboard 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- END WRAPPER -->
    <!-- *********** -->

    <!-- Scroll to Top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- SCRIPTS -->
    <!-- ******* -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/d3-tip.js' %}"></script>
    <script src="{% static 'js/scatter.js' %}"></script>
    <script src="{% static 'js/pie.js' %}"></script>
    <script src="{% static 'js/area.js' %}"></script>
    <script src="{% static 'js/bar.js' %}"></script>
    <script src="{% static 'js/stacked.js' %}"></script>

</body>

</html>
